.DS_Store
.DS_Store?
._*
.AppleDouble
.LSOverride
.Spotlight-V100/
.Trashes/
Icon?
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.serena/
.vite/
coverage/
dist/
node_modules/
*.log
*.tsbuildinfo
public/vendor/lua/*
!public/vendor/lua/lua-5.3.6.mjs
!public/vendor/lua/lua-5.3.6.wasm

notes/*
!notes/.gitkeep
